<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" />
<!-- Latest compiled JavaScript -->
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<title>ADMIN SECTION</title>
</head>
<body>
	<div class="container" style="margin-top: 10px;">
		<div class="row panel panel-default panel-body">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="form-group">
						<div class="form-group col-md-12">
							<div class="form-group" align="center">
								<div class="form-group col-md-8 col-md-offset-1">
									<div class="row panel panel-default" style="margin-top: 5px;">
										<div class="panel-heading text-center">ADMIN SECTION</div>
									</div>
								</div>
							</div>
							<div class="form-group col-md-3">
								<a href="javascript: document.logoutForm.submit()"
									style="float: right"> Log Out</a>
								<form name="logoutForm" th:action="@{/logout}" method="post"
									th:hidden="true">
									<input type="submit" value="Sign Out" id="logout" />
								</form>
							</div>
						</div>
						<div class="form-group col-md-12">
							<div class="form-group col-md-8 col-md-offset-1">
								<div class="row panel panel-default">
									<div class="panel-heading text-center">Investor Details</div>
								</div>
							</div>
						</div>
						<p>Search for an Investor</p>
						<form
							th:action="@{/investmentrecommendation/admin/investorDetails/search}"
							th:object="${user}" method="post" id="formId">
							<p class="error-message" th:if="${#fields.hasGlobalErrors()}"
								th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
								error</p>
							<div class="row panel panel-default panel-body">
								<div class="form-group">
									<div class="form-group col-md-6"
										th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
										<label for="firstName" class="control-label">First
											name</label> <input id="investorFirstName" class="form-control"
											th:field="*{firstName}" />
										<p class="error-message"
											th:each="error: ${#fields.errors('firstName')}"
											th:text="${error}">Validation error</p>
									</div>
									<div class="form-group col-md-6"
										th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
										<label for="lastName" class="control-label">Last name</label>
										<input id="investorLastName" class="form-control"
											th:field="*{lastName}" />
										<p class="error-message"
											th:each="error : ${#fields.errors('lastName')}"
											th:text="${error}">Validation error</p>
									</div>
									<div class="form-group col-md-6"
										th:classappend="${#fields.hasErrors('mobile')}? 'has-error':''">
										<label for="mobile" class="control-label">Mobile</label> <input
											id="mobilePhone" class="form-control" th:field="*{mobile}" />
										<p class="error-message"
											th:each="error : ${#fields.errors('mobile')}"
											th:text="${error}">Validation error</p>
									</div>
									<div class="form-group col-md-6"
										th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
										<label for="email" class="control-label">E-mail</label> <input
											id="emailAddress" class="form-control" th:field="*{email}" />
										<p class="error-message"
											th:each="error : ${#fields.errors('email')}"
											th:text="${error}">Validation error</p>
									</div>
									<div class="form-group col-md-3">
										<a href="/investmentrecommendation/admin/home" id="back"
											class="btn btn-default" role="button">Back</a>
									</div>
									<div class="form-group col-md-3">
										<button type="button" id="clear" class="btn btn-default"
											onclick="resetFunction()">Clear</button>
									</div>
									<div class="form-group col-md-3">
										<button type="submit" class="btn btn-default">Search</button>
									</div>
								</div>
							</div>
						</form>
						<div class="form-group text-right">
							<a
								th:href="@{/investmentrecommendation/admin/getAllInvestordetails}"
								id="viewAllInvestors">View for all Investors</a>
						</div>
						<div>
							<th:block th:if="${msg != null}">
								<p>No user found</p>
							</th:block>
						</div>
						<div>
							<table class="table table-bordered" id="InvestorDetailsList"
								style="float: center">
								<th:block th:if="${flag == true}">
									<thead class="bg-primary">
										<tr>
											<th scope="col">FirstName</th>
											<th scope="col">LastName</th>
											<th scope="col">Mobile</th>
											<th scope="col">Email</th>
											<th scope="col">HouseNo</th>
											<th scope="col">Street</th>
											<th scope="col">City</th>
											<th scope="col">PINcode</th>
											<th scope="col">State</th>
											<th scope="col">Country</th>
											<th scope="col"></th>
										</tr>
									</thead>
								</th:block>
								<tbody>
									<th:block th:each="user : ${users}">
										<tr>
											<td th:text="${user.firstName}">...</td>
											<td th:text="${user.lastName}">...</td>
											<td th:text="${user.mobile}">...</td>
											<td th:text="${user.email}">...</td>
											<td th:text="${user.houseNo}">...</td>
											<td th:text="${user.street}">...</td>
											<td th:text="${user.city}">...</td>
											<td th:text="${user.pincode}">...</td>
											<td th:text="${user.state}">...</td>
											<td th:text="${user.country}">...</td>
											<td><a href="javascript:modifyCurrent()" id="Modify"
												class="btn btn-default" role="button">Modify </a></td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		function resetFunction() {
			document.getElementById("formId").reset();
		}

		function modifyCurrent() {
			var selectedUser = document.activeElement.parentElement.parentElement
					.getElementsByTagName("td")[3].textContent;
			data = {};
			data["userName"] = selectedUser;
			$
					.ajax({
						type : "POST",
						contentType : "application/json",
						url : "/investmentrecommendation/admin/modifyInvestorDetailsOne",
						data : JSON.stringify(data),
						dataType : 'JSON',
						timeout : 100000,
						success : function(data) {
							console.log("SUCCESS: ", data);

							window.location.href = "/investmentrecommendation/admin/modifyInvestorDetailsTwo";
						},
						error : function(e) {
							console.log("ERROR: ", e);
						},
						done : function(e) {
							console.log("DONE");
						}
					});
		}
	</script>
</body>
</html>