<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<title>Online Risk Profile Assessment Questionnaire</title>
<script>
	function submitQuestion() {
		var selectedOption;
		var data = {};
		var questionNumber = document.getElementById("5").id;
		if (document.getElementById('one').checked) {
			selectedOption = document.getElementById('one').value;
		} else if (document.getElementById('two').checked) {
			selectedOption = document.getElementById('two').value;
		} else if (document.getElementById('three').checked) {
			selectedOption = document.getElementById('three').value;
		} else {
			alert("Please select at least one value");
		}

		if (selectedOption != null || selectedOption != undefined) {
			data["selectedOption"] = selectedOption;
			data["questionNumber"] = questionNumber;
			$.ajax({
				type : "POST",
				contentType : "application/json",
				url : "/investmentrecommendation/store",
				data : JSON.stringify(data),
				dataType : 'json',
				timeout : 100000,
				success : function(data) {
					console.log("SUCCESS: ", data);
					window.location.href = "/investmentrecommendation/sixth";
				},
				error : function(e) {
					console.log("ERROR: ", e);
				},
				done : function(e) {
					console.log("DONE");
				}
			});

		}
	}
</script>
</head>

<body>
	<div class="container" style="margin-top: 10px;">
		<div class="row panel panel-default panel-body">
			<div class="row">
				<div class="col-md-10 col-md-offset-2">
					<div class="form-group">
						<div class="form-group col-md-12">
							<div class="form-group" align="center">
								<div class="form-group col-md-8">

									<div class="row panel panel-default" style="margin-top: 5px;">
										<div class="panel-heading text-center">Online Risk
											Profile Assessment Questionnaire</div>
									</div>
								</div>
							</div>
							<div class="form-group col-md-4">
								<a id="logout" href="javascript: document.logoutForm.submit()"
									style="float: right"> Log Out</a>
								<form name="logoutForm" th:action="@{/logout}" method="post"
									th:hidden="true">
									<input type="submit" value="Sign Out"/>
								</form>
							</div>
						</div>

						<div style="margin-bottom: 20px;">Please answer the
							following question by choosing the appropriate option, and then
							click on Next.</div>

						<div id="5">5. When I invest my money, I am:</div>
						<div id="invest">
							<input type="radio" id="one" name="invest"
								value="Most concerned aboout my investment losing value" />
							Most concerned aboout my investment losing value <br /> <input
								type="radio" id="two" name="invest"
								value="Equally concerned about my investment losing or gaining value" />Equally
							concerned about my investment losing or gaining value <br /> <input
								type="radio" id="three" name="invest"
								value="Most concerned aboout my investment gaining value" />
							Most concerned aboout my investment gaining value <br />

						</div>

						<div class="form-group">
							<div class="form-group col-md-6 col-md-offset-6">
								<a style="margin-right: 20px;"
									href="/investmentrecommendation/fourth">Back</a> <a
									href="javascript:submitQuestion()">Next</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>