<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" />
<!-- jQuery library -->
<!-- Latest compiled JavaScript -->
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<title>Login</title>
</head>
<body>
	<div class="container" style="margin-top: 10px;">
		<div class="row panel panel-default panel-body">
			<div class="row">
				<div class="col-md-10 col-md-offset-2">
					<div class="form-group">
						<div class="form-group col-md-12">
							<div class="form-group" align="center">
								<div class="form-group col-md-8">
									<div class="row panel panel-default" style="margin-top: 5px;">
										<div class="panel-heading text-center">InvestOnline.com</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									<h3>Login Screen</h3>
									<form th:action="@{/login}" method="post">
										<div th:if="${param.error}">
											<div class="alert alert-danger">Invalid username or
												password.</div>
										</div>
										<div th:if="${param.logout}">
											<div class="alert alert-info">You have been logged out.
											</div>
										</div>
										<div class="form-group">
											<label for="inputEmail">User Name</label> <input type="email"
												id="userName" name="email" class="form-control"
												autofocus="autofocus" placeholder="Email" />
										</div>
										<div class="form-group">
											<label for="password">Password</label>: <input
												type="password" id="password" name="password"
												class="form-control" placeholder="Password" />
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col-sm-6 col-sm-offset-3">
													<input type="submit" name="login-submit" id="login"
														class="form-control btn btn-info" value="SUBMIT" />
												</div>
											</div>
										</div>
										 <div class="form-group text-right">
											<span><a href="/"
												th:href="@{/investmentrecommendation/CreateAccount}"
												id="createAccount">How to create your online account?</a></span>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>